#moviesTable tr:hover {
    cursor: pointer;
}

.table {
    margin-top: 20px;
}

thead th {
    text-align: left;
}

td {
    vertical-align: middle;
}

.pagination {
    margin-top: 20px;
    justify-content: center;
}